body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #212529;
    color: #F8F9FA;
    padding: 20px 0;
}

.app-name{
    font-size: 2rem;
}
.switch-unit{
    align-self: center;
}

.search-container{
    width: 320px;
    border-radius: 15px;
    border: none;
    background-color: #F8F9FA;
    color: #212529;
    display: flex;
    align-items: center;
}
.search-container .search{
    background-color: #F8F9FA;
    height: 100%;
    border: none;
    padding: 0 10px;
    border-radius: 15px 0 0 15px;
    font-size: 1.2rem;
    flex-grow: 1;
}
.search-container .search:focus{
    outline: none;
}

.search-container i{
    padding: 0 10px;
    font-size: 1.2rem;
    color: gray;
    transition: .1s;
}
.search-container i:hover{
    color: black;
}

.switch-unit{
    cursor: pointer;
    user-select: none;
}
.selected{
    background-color: #495057;
    padding: 5px;
    border-radius: 20%;
}



