 :root {
    --weather-icon-size: 50px;
    --weather-icon-size-small: 35px;

    --container-backdrop: blur(10px);
    --primary-color: #212529;
    --secondary-color: #F8F9FA;
    --highlight-color: #495057;
    --background-dark: #000000bf;
    --text-color: #F8F9FA;
    --icon-color: gray;
    --icon-hover-color: black;
    --box-shadow: 5px 5px 15px hwb(0 0% 100% / 0.753);
    
    --font-family: Arial, Helvetica, sans-serif;
    --font-size-large: 2rem;
    --font-size-medium: 1.2rem;
    --font-size-small: 1.1rem;
    
    --padding-large: 20px;
    --padding-medium: 15px;
    --padding-small: 5px;

    --border-radius-large: 15px;
    --border-radius-small: 5px;
    
    --gap-small: 5px;
    --gap-medium: 15px;
    --gap-large: 30px;

    --flex-small: 0 1 450px;
    /* 450 times 2 + 20 * 3 (padding between two containers and 2 sides of one of the containers */
    --flex-large: 0 1 980px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    background-color: var(--background-dark);
    color: var(--text-color);
    padding: var(--padding-large) 0;
}

.app-name-switch-container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.app-name {
    font-size: var(--font-size-large);
}

.switch-unit {
    align-self: center;
    cursor: pointer;
    user-select: none;
}

.search-container {
    align-self: center;
    height: 2.5rem;
    border-radius: var(--border-radius-large);
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.search-container .search-query {
    background-color: var(--secondary-color);
    height: 100%;
    width: 200px;
    border: none;
    padding: 0 var(--padding-medium);
    border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
    font-size: var(--font-size-medium);
}

.search-container .search-query:focus {
    outline: none;
}

.search-container i {
    padding: 0 var(--padding-medium);
    font-size: var(--font-size-medium);
    color: var(--icon-color);
    transition: .1s;
}

.search-container i:hover {
    color: var(--icon-hover-color);
}

.selected {
    background-color: var(--highlight-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
}

main {
    display: flex;
}

.container-with-backdrop{
    backdrop-filter: var(--container-backdrop);
}

.weather-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
}

.weather-part-containers {
    flex: var(--flex-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--padding-large);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    padding: var(--padding-large);
    background-color: var(--background-dark);
}

.additional-info {
    display: flex;
    justify-content: space-between;
}

.additional-info .city {
    font-size: var(--font-size-small);
}

.additional-info .condition {
    font-size: var(--font-size-small);
}

.additional-info .weather-icon {
    height: var(--weather-icon-size);
    width: var(--weather-icon-size);
}

.weather-condition {
    display: flex;
    flex-direction: column;
}

.weather-condition .current-temperature {
    font-size: var(--font-size-large);
}

.add-stats {
    font-size: var(--font-size-small);
}

.current-more-stats{
    gap: var(--gap-medium);
    font-size: var(--font-size-medium);
}

.cms-tv{
    display: flex;
    justify-content: space-around;
}


.today{
    position: relative;
    flex: var(--flex-large);
    gap: var(--gap-small);
    font-size: var(--font-size-small);
    overflow: hidden;
}

.today-hr{
    width: 100%;
    border: 1px solid var(--highlight-color);
}

.today-by-hours{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-large);
    overflow-X: scroll;
    padding-bottom: 5px;
    scrollbar-color: var(--secondary-color) #00000000;
    scrollbar-width: thin;
}

.today-by-hours::-webkit-scrollbar{
    height: .25rem;
}
.today-by-hours::-webkit-scrollbar-track{
    background: none;
}
.today-by-hours::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
}

.hourly-condition{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-small);
}

.today-by-hours .hourly-condition-image{
    /* border: 1px solid black; */
    height: var(--weather-icon-size-small);
    width: var(--weather-icon-size-small);
}

.precipitation{
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.today-by-hours .precip-image{
    height: 10px;
    width: 10px;
}
